<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
        <link rel="stylesheet" href="css/index.css"/>
        <link rel="icon" type="image/png" href="images/modular.png"/>
    </head>
    <body>
        <!--APLICACION DESARROLLADA POR JORGE TURRIATE, CONTACTAR CON EL ANTE CUALQUIER DUDA-->
        <div class="container">
           <h1>Analizador de Logs</h1>
            <p>
                Bienvenido al analizador de logs, seleccione el servicio  a analizar
            </p>
            
            <a href="/dispatch"><div class="button">Dispatch</div></a>
        
            <a href="/provision"><div class="button">Provision</div></a>
             
        </div>       
    </body>
</html>