<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
        <link rel="stylesheet" href="css/index.css"/>
        <link rel="icon" type="image/png" href="images/modular.png"/>
    </head>
    <body>
        <div class="container">
           <h1>No se encontro la pagina que estaba buscando</h1>
            <a href="/dispatch"><div class="button">Volver al inicio</div></a>
        </div>       
    </body>
</html>